* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body {
  background-color: hsl(218, 23%, 16%);
  color: #fff;
  font-family: "Manrope", sans-serif;
}

.card {
  background-color: hsl(217, 19%, 24%);
  width: 250px;
  position: relative;
  padding: 25px;
  border-radius: 10px;
}

.advice {
  color: hsl(150, 100%, 66%);
  text-align: center;
  letter-spacing: 3px;
  font-size: 1em;
  margin-top: 0;
}
.dice {
  background-color: hsl(150, 100%, 66%);
  position: absolute;
  bottom: -10px;
  left: 106px;
  padding: 5px;
  border-radius: 50%;
}

.dice:hover {
  box-shadow: rgba(93, 216, 128, 0.2) 0px 7px 29px 0px;
  transition: 0.5s ease-in-out;
}
.arrow {
  width: 100%;
  margin-bottom: 20px;
}

.main-advice {
  margin: 15px 0 25px 0;
  color: hsl(193, 38%, 86%);
  font-size: 0.8em;
  text-align: center;
}
.loading {
  width: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
